<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Registro</title>
</head>
<body>
    <h1>Registro de {{ registro.trabajador.nombre }} {{ registro.trabajador.apellido }}</h1>
    <p>Fecha: {{ registro.fecha }}</p>
    <p>Hora de Entrada: {{ registro.hora_entrada }}</p>
    <p>Hora de Salida: {{ registro.hora_salida }}</p>
    <p>Horas Trabajadas: {{ registro.horas_trabajadas }}</p>
    <a href="{% url 'registros' %}">Volver a la lista de registros</a>
</body>
</html>
